*{
    margin:0;
    padding: 0;
    font-family: "微软雅黑";
}

.title {
    width:200px;
    height:70px;
    margin: 0 auto;
    padding: 70px;
    text-align: center;
    font-size: 20px;
    color: red;
}

.btns {
    width:185px;
    height: 50px;
    margin:0 auto;
}

.btns span{
    width: 60px;
    height: 30px;
    margin-right: 30px;
    padding-top: 10px;
    float:left;
    display: block;
    background-color: #036;
    border: 1px solid #036;
    border-radius: 7px;
    text-align: center;
    font-size: 10px;
    color:#ffffff;
    cursor:pointer;
}
