*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}

li{
    width: 200px;
    height: 100px;
    background-color: #ffff00;
    margin-bottom: 20px;
    opacity:0.3;
    filter:alpha(opacity:30);
}
